* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Satoshi", sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 500px;
  border: 2px solid white;
  height: 90vh;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

label {
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  margin-left: 5rem;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

button {
  margin-top: 1rem;
  background-color: #e11d48;
  color: white;
  border: none;
  display: inline-block;
}
.list {
  padding: 1.5rem;
  margin: 1rem;
  text-align: left;
}
